<% var d=new Date(); var year=d.getFullYear(); %>
  <footer class="landing-footer">
    <div class="footer-logo">
      <a href="/">
        <h2 class="libre-baskerville-regular-italic">CareerSphere</h2>
      </a>
      <div class="footer-links">
        <a href="#">About Us</a>
        <a href="#">FAQs</a>
        <div class="footer-social">
          <p  class="libre-baskerville-regular">Follow Us:</p>
          <a href="https://www.facebook.com" target="_blank">
            <img src="/images/social/icons8-facebook-144.png" alt="Facebook" class="social-icon">
          </a>
          <a href="https://www.instagram.com" target="_blank">
            <img src="/images/social/icons8-instagram-144.png" alt="Instagram" class="social-icon">
          </a>
          <a href="https://www.linkedin.com/" target="_blank">
            <img src="/images/social/icons8-linkedin-144.png" alt="LinkedIn" class="social-icon">
          </a>
        </div>
      </div>
    </div>

    <hr class="second-hr">

    <p class="copyright">&copy; <%= year %>, LeyOak. All rights reserved.</p>
    <a href="/public/privacy-policy">Privacy Policy</a>
    <a href="/public/terms-and-conditions">Terms and Conditions</a>
    <p>CareerSphere is a busniess of CareerShere LLC</p>
  </footer>