<div class="landing-header">
    <a href="/">
        <h1 class="libre-baskerville-regular-italic">CareerSphere</h1>
    </a>
    <img src="/images/menu/icons8-hamburger-menu-ios-17-filled-32.png" alt="Hamburger Manu" class="Hamburger-menu">
    <img src="/images/menu/close-icon.png" alt="Menu Close" class="close-menu">
    <nav class="mobile-nav libre-baskerville-regular">

        <div class="dropdown">
            <a href="#">Resume Services&#11206;</a>
            <div class="dropdown-content">
                <a href="#">Generate & Export Resume</a>
                <a href="#">Resume Doctor (Coming Soon!!!)</a>
            </div>
        </div>

        <!-- Join/Sign-In Section -->
        <div class="join-area">
            <a href="#">Join Now</a>
            <a href="/p/me" class="sign-button">Sign In</a>
        </div>
    </nav>
</div>