<div class="landing-header">
    <a href="/">
        <h1 class="libre-baskerville-regular-italic">CareerSphere</h1>
    </a>
    <nav class="libre-baskerville-regular">
        <!-- Ventures Dropdown -->
        <div class="dropdown">
            <a href="#" class="dropbtn">Ventures&#11206;</a>
            <div class="dropdown-content">
                <a href="#">Existing Business</a>
                <a href="#">Startup</a>
                <a href="#">Roles</a>
            </div>
        </div>

        <!-- Competition Dropdown -->
        <div class="dropdown">
            <a href="#" class="dropbtn">Competition&#11206;</a>
            <div class="dropdown-content">
                <a href="#">Organizers</a>
                <a href="#">Participants</a>
            </div>
        </div>

        <a href="#">Resume Generator</a>

        <!-- Join/Sign-In Section -->
        <div class="join-area">
            <a href="#">Join Now</a>
            <a href="#" class="sign-button">Sign In</a>
        </div>
    </nav>
</div>