<div class="p-header">
    <div class="search-container">
        <!-- First Search Box -->
        <div class="search-box">
            <input type="text" placeholder="Find job/role">
            <button>
                <img src="/images/icons/search-icon.png" alt="Search">
            </button>
        </div>

        <!-- Second Search Box -->
        <div class="search-box">
            <input type="text" placeholder="Find event/project">
            <button>
                <img src="/images/icons/search-icon.png" alt="Search">
            </button>
        </div>
    </div>
</div>