<div class="landing-hero-img">
    <img src="/images/Hero-image.png" alt="Hero Banner">
    <div class="join-button">
        <a href="#" class="sign-button">Click here to get started</a>
    </div>
</div>

<div class="landing-page-talent">
    <div class="talent-text-container">
        <h2 class="libre-baskerville-bold">
            Talents
        </h2>
        <p class="libre-baskerville-regular">
            We facilitate the recuiting of both paid and volunteer talents looking to gain real work experience.
        </p>
    </div>
    <div class="talent-card-container">
        <div class="talent-card">
            <h3>IT & Development</h3>
            <a href="#">More &rarr;</a>
            <div  class="libre-baskerville-regular talent-card-roles">
                <p>Popular roles include:</p>
                <ul>
                    <li>Full stack Engineer</li>
                    <li>Backend Developer</li>
                    <li>Frontend Developer</li>
                    <li>DevOps Engineer</li>
                    <li>Mobile Application Developer</li>
                </ul>
            </div>
        </div>
        <div class="talent-card">
            <h3>Finance & Accounting</h3>
            <a href="#">More &rarr;</a>
            <div  class="libre-baskerville-regular talent-card-roles">
                <p>Popular roles include:</p>
                <ul>
                    <li>Financial Analyst</li>
                    <li>Accountant</li>
                    <li>Financial Controller</li>
                    <li>Tax Advisor/Tax Accountant</li>
                    <li>Auditor</li>
                </ul>
            </div>
        </div>
        <div class="talent-card">
            <h3>AI Service & Mechine learning</h3>
            <a href="#">More &rarr;</a>
            <div  class="libre-baskerville-regular talent-card-roles">
                <p>Popular roles include:</p>
                <ul>
                    <li>Machine Learning Engineer</li>
                    <li>Data Scientist</li>
                    <li>AI Research Scientist</li>
                    <li>Deep Learning Engineer</li>
                    <li>Natural Language Processing (NLP) Engineer</li>
                </ul>
            </div>
        </div>
        <div class="talent-card">
            <h3>Design & Creative</h3>
            <a href="#">More &rarr;</a>
            <div  class="libre-baskerville-regular talent-card-roles">
                <p>Popular roles include:</p>
                <ul>
                    <li>Graphic Designer</li>
                    <li>UI/UX Designer</li>
                    <li>Web Designer</li>
                    <li>Creative Director</li>
                    <li>Motion Graphic Designer</li>
                </ul>
            </div>
        </div>
        <div class="talent-card">
            <h3>Sales & Marketing</h3>
            <a href="#">More &rarr;</a>
            <div  class="libre-baskerville-regular talent-card-roles">
                <p>Popular roles include:</p>
                <ul>
                    <li>Sales Manager</li>
                    <li>Marketing Manager</li>
                    <li>Digital Marketing Specialist</li>
                    <li>Content Marketing Strategist</li>
                    <li>Sales Developemnt Representative (SDR)</li>
                </ul>
            </div>
        </div>
        <div class="talent-card">
            <h3>Writing & Translation</h3>
            <a href="#">More &rarr;</a>
            <div  class="libre-baskerville-regular talent-card-roles">
                <p>Popular roles include:</p>
                <ul>
                    <li>Content Writer</li>
                    <li>Copywriter</li>
                    <li>Translator</li>
                    <li>Technical Writer</li>
                    <li>Editor/Proofreader</li>
                </ul>
            </div>
        </div>
        <div class="talent-card">
            <h3>Admin & Customer Support</h3>
            <a href="#">More &rarr;</a>
            <div  class="libre-baskerville-regular talent-card-roles">
                <p>Popular roles include:</p>
                <ul>
                    <li>Administrative Assistant</li>
                    <li>Customer Service Representative</li>
                    <li>Office Managr</li>
                    <li>Customer Support Specialist</li>
                    <li>Help Desk Technician</li>
                </ul>
            </div>
        </div>
        <div class="talent-card">
            <h3>Engineering & Architecture</h3>
            <a href="#">More &rarr;</a>
            <div  class="libre-baskerville-regular talent-card-roles">
                <p>Popular roles include:</p>
                <ul>
                    <li>Civil Engineer</li>
                    <li>Structural Engineer</li>
                    <li>Architect</li>
                    <li>Mechanical Engineer</li>
                    <li>Electical Engineer</li>
                </ul>
            </div>
        </div>
        <div class="talent-card">
            <h3>Humanitarian Aid & Volunteer</h3>
            <a href="#">More &rarr;</a>
            <div  class="libre-baskerville-regular talent-card-roles">
                <p>Popular roles include:</p>
                <ul>
                    <li>Humanitarian Aid Worker</li>
                    <li>Volunteer Coordinator</li>
                    <li>Community Outreach Specialist</li>
                    <li>Project Manager (Humanitarian)</li>
                    <li>Logistics Coordinator</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="job-posting-container">
    <div class="job-posting-card">
        <h3  class="libre-baskerville-bold">
            Existing Businesses
        </h3>
        <a href="#" class="libre-baskerville-regular">Post job opening &rarr;</a>
    </div>
    <div class="job-posting-card">
        <h3  class="libre-baskerville-bold">
            Not for profit NGOs
        </h3>
        <a href="#" class="libre-baskerville-regular">Recruit Volunteers &rarr;</a>
    </div>
    <div class="job-posting-card">
        <h3  class="libre-baskerville-bold">
            Startups
        </h3>
        <a href="#" class="libre-baskerville-regular">Recruit for you project &rarr;</a>
    </div>
</div>

<div class="landing-page-competition">
    <div class="landing-page-competition-img">
        <img src="/images/competition.png" alt="competition">
    </div>
    <div class="landing-page-competition-text">
        <h2 class="libre-baskerville-bold">Competitions & Group Project</h2>
        <p class="libre-baskerville-regular">Our platform empowers organizations to create and manage competitions or group projects while allowing participants to join individually or as teams, with the option to recruit team members on the platform. Types of projects that we facilitate includes:</p>
        <ul class="libre-baskerville-regular">
            <li>Hackathon</li>
            <li>Innovation Challenge</li>
            <li>Class & school projects</li>
            <li>Startups competition</li>
            <li>Accelator & Incubator programs Competition</li>
        </ul>
        <a href="#" class="libre-baskerville-regular">Learn more &rarr;</a>
    </div>
</div>

<div class="landing-page-resume">
    <h2 class="libre-baskerville-bold">
        Resume Services
    </h2>
    <div class="landing-page-resume-sessions">
        <div>
            <h3 class="libre-baskerville-bold">
                Resume Generator
            </h3>
            <p  class="libre-baskerville-regular">
                This feature enables users to create and download a professional resume tailored to their preferred format and industry or category. Users can select from a range of sample templates provided, ensuring their resume aligns with their specific career goals and industry standards. 
            </p>
            <a href="#">Generate Resume &rarr;</a>
        </div>
        <div>
            <h3 class="libre-baskerville-bold">
                Resume Doctor (Coming Soon!!!)
            </h3>
            <p  class="libre-baskerville-regular">
                This feature will harnesses the power of AI to analyze and optimize resumes, offering recommendations that range from correcting grammar and spelling errors to suggesting impactful keywords. These recommendations ensure that resumes effectively convey key information and meet the criteria sought by employers and applicant tracking systems.
            </p>
        </div>
    </div>
</div>