<div class="resume-header">
    <div class="resume-area">
        <div class="resume-area-name">
            <h1>RICHARD SANCHEZ</h1>
            <h2>MARKETING MANAGER</h2>
        </div>

        <div class="resume-area-img">
            <img src="/images/icons/icons8-avatar-50.png" alt="Avatar Image">
        </div>
    </div>
</div>

<div class="resume-body">
    <div class="resume-data">
        <div class="resume-data-personal">
            <h2>
                CONTACT
            </h2>

        </div>
        <div class="resume-data-professional">
            <div class="resume-data-professional-section">
                <div class="resume-data-professional-data">
                    <div class="resume-data-professional-data-img">
                        <img src="/images/icons/icons8-avatar-50.png" alt="Avatar">
                    </div>
                    <div class="reusme-vertical-line">
                    </div>
                </div>
                <div>
                    <h3>PROFILE</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus facere enim, accusantium eius
                        veritatis sed reiciendis obcaecati animi aspernatur possimus consequatur error, officiis quo
                        laboriosam nam eligendi quidem natus expedita!</p>
                </div>
            </div>
            <div class="resume-data-professional-section">
                <div class="resume-data-professional-data">
                    <div class="resume-data-professional-data-img">
                        <img src="/images/icons/icons8-avatar-50.png" alt="Avatar">
                    </div>
                    <div class="reusme-vertical-line">
                    </div>
                </div>
                <div>
                    <h3>Work Experience</h3>
                    <div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>