<div class="resume-header">
    <div class="resume-area">
        <div class="resume-area-name">
            <h1>RICHARD SANCHEZ</h1>
            <h2>MARKETING MANAGER</h2>
        </div>

        <div class="resume-area-img">
            <img src="/images/icons/icons8-avatar-50.png" alt="Avatar Image">
        </div>
    </div>
</div>

<div class="resume-body">
    <div class="resume-data">
        <div class="resume-data-personal">
            <div class="resume-contact">
                <div class="resume-data-edit-heading">
                    <h3>CONTACT</h3>
                    <a href="#"><img src="/images/icons/edit-icon.png" alt="Edit Icon" class="resume-edit-icon"></a>
                </div>
                <div class="resume-contact-info">
                    
                </div>
            </div>
        </div>
        <div class="resume-data-professional">
            <div class="resume-data-professional-section">
                <div class="resume-data-professional-data">
                    <div class="resume-data-professional-data-img">
                        <img src="/images/icons/icons8-avatar-50.png" alt="Avatar">
                    </div>
                    <div class="reusme-vertical-line">
                    </div>
                </div>
                <div>
                    <div class="resume-data-edit-heading">
                        <h3>ABOUT ME</h3>
                        <a href="#"><img src="/images/icons/edit-icon.png" alt="Edit Icon" class="resume-edit-icon"></a>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus facere enim, accusantium eius
                        veritatis sed reiciendis obcaecati animi aspernatur possimus consequatur error, officiis quo
                        laboriosam nam eligendi quidem natus expedita!</p>
                </div>
            </div>
            <div class="resume-data-professional-section">
                <div class="resume-data-professional-data">
                    <div class="resume-data-professional-data-img">
                        <img src="/images/icons/icons8-avatar-50.png" alt="Avatar">
                    </div>
                    <div class="reusme-vertical-line">
                    </div>
                </div>
                <div>
                    <div class="resume-data-edit-heading">
                        <h3>WORKE EXPERIENCE</h3>
                        <a href="#"><img src="/images/icons/edit-icon.png" alt="Edit Icon" class="resume-edit-icon"></a>
                    </div>
                    <div>
                        <div class="comp-and-date">
                            <h4>Borcelle Studion</h4>
                            <p>2030 - PRESENT</p>
                        </div>
                        <div class="role-and-duty">
                            <p>Marketing Manager & Specialist</p>
                            <ul>
                                <li>Create and manage the marketing budget, ensuring efficient allocation of resources
                                    and optimizing ROI.</li>
                                <li>Oversee market research to identify emerging trends, customer needs, and competitor
                                    strategies.</li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div class="comp-and-date">
                            <h4>Borcelle Studion</h4>
                            <p>2030 - PRESENT</p>
                        </div>
                        <div class="role-and-duty">
                            <p>Marketing Manager & Specialist</p>
                            <ul>
                                <li>Create and manage the marketing budget, ensuring efficient allocation of resources
                                    and optimizing ROI.</li>
                                <li>Oversee market research to identify emerging trends, customer needs, and competitor
                                    strategies.</li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div class="comp-and-date">
                            <h4>Borcelle Studion</h4>
                            <p>2030 - PRESENT</p>
                        </div>
                        <div class="role-and-duty">
                            <p>Marketing Manager & Specialist</p>
                            <ul>
                                <li>Create and manage the marketing budget, ensuring efficient allocation of resources
                                    and optimizing ROI.</li>
                                <li>Oversee market research to identify emerging trends, customer needs, and competitor
                                    strategies.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="resume-data-professional-section">
                <div class="resume-data-professional-data">
                    <div class="resume-data-professional-data-img">
                        <img src="/images/icons/icons8-avatar-50.png" alt="Avatar">
                    </div>
                    <div class="reusme-vertical-line">
                    </div>
                </div>
                <div>
                    <div class="resume-data-edit-heading">
                        <h3>EDUCATION</h3>
                        <a href="#"><img src="/images/icons/edit-icon.png" alt="Edit Icon" class="resume-edit-icon"></a>
                    </div>
                    <div>
                        <div class="comp-and-date">
                            <h4>Brigham Young University - Idaho</h4>
                            <p>2030 - PRESENT</p>
                        </div>
                    </div>
                    <div class="role-and-duty">
                        <p>Sofeare Engineer</p>
                        <ul>
                            <li>Create and manage the marketing budget, ensuring efficient allocation of resources and
                                optimizing ROI.</li>
                            <li>Oversee market research to identify emerging trends, customer needs, and competitor
                                strategies.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>